<ng-container *ngFor="let item of items">
    <span [ngSwitch]="item.type">
        <ng-container *ngSwitchCase="headerComponentsEnum.ADD_WORD">
            <dicomo-header-add-word></dicomo-header-add-word>
        </ng-container>
        <ng-container *ngSwitchCase="headerComponentsEnum.CLOSE">
            <dicomo-header-close-btn></dicomo-header-close-btn>
        </ng-container>
        <ng-container *ngSwitchCase="headerComponentsEnum.LOGO">
            <dicomo-header-logo></dicomo-header-logo>
        </ng-container>
    </span>
</ng-container>
