@import 'variables';

:host {
    bottom: 6px;
    color: $color-dark;
    font-family: $font-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-left: -6px;
    position: relative;
}
