<ng-container *ngIf="word">
    <ng-container *ngIf="!hasResult(); else resultTpl">
        <ul>
            <ng-container *ngFor="let meaning of word.meanings">
                <ng-container *ngFor="let definition of meaning.definitions">
                    <li>{{ definition.value }}</li>
                </ng-container>
            </ng-container>
        </ul>

        <ng-container *ngIf="answers">
            <form [formGroup]="answerForm">
                <ng-container *ngIf="isInputMode">
                    <input
                        cdkAutoFocus
                        type="text"
                        formControlName="answer"
                        (change)="validateAnswer(word)"
                    />
                </ng-container>
                <ng-container *ngIf="isSelectMode">
                    <select
                        cdkAutoFocus
                        formControlName="answer"
                        (change)="validateAnswer(word)"
                    >
                        <option selected value="">Sélectionnez un mot</option>
                        <option
                            [value]="answer.word"
                            *ngFor="let answer of answers"
                        >
                            {{ answer.word }}
                        </option>
                    </select>
                </ng-container>
            </form>
        </ng-container>
    </ng-container>

    <ng-template #resultTpl>
        <h1>
            <ng-container *ngIf="result; else lost">Gagné !</ng-container>
            <ng-template #lost>Perdu !</ng-template>
        </h1>
        <button cdkAutoFocus (click)="next()" *ngIf="result; else retryBtn">
            Suivant
        </button>
        <ng-template #retryBtn>
            <button cdkAutoFocus (click)="retry()">Retenter</button>
        </ng-template>
    </ng-template>
</ng-container>
