@import 'variables';

:host {
    > ul {
        margin: 0;
        padding: 0;

        > li {
            list-style-type: none;

            & + li {
                margin-top: 16px;
            }

            > span {
                font-family: $font-sans;
                font-size: 16px;
                text-transform: capitalize;
            }
        }
    }
}
