<ul *ngIf="words$ | async as words">
    <li *ngFor="let word of words">
        <span>{{ word.word }}</span>
    </li>
    <li *ngFor="let word of words">
        <span>{{ word.word }}</span>
    </li>
    <li *ngFor="let word of words">
        <span>{{ word.word }}</span>
    </li>
    <li *ngFor="let word of words">
        <span>{{ word.word }}</span>
    </li>
    <li *ngFor="let word of words">
        <span>{{ word.word }}</span>
    </li>
    <li *ngFor="let word of words">
        <span>{{ word.word }}</span>
    </li>
</ul>
