@import 'variables';

:host {
    align-content: stretch;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: $header-height;
}

section {
    flex-grow: 1;
    padding: 16px;
}
