$color-dark: #2f2f2f;
$color-primary: #2d73cf;
$color-secondary: #1fbe74;
$color-tertiary: #cf322d;
$color-light: #ffffff;

$font-sans: 'Lato', sans-serif;
$font-serif: 'Fraunces', serif;

$header-height: 46px;

$background-image: url('/assets/img/dicomo-bg.png');
