<h1 mat-dialog-title>Choisissez votre niveau</h1>

<div mat-dialog-content>
    <ul>
        <li>
            <button
                (click)="selectLevel(playLevelEnum.BEGINNER)"
                cdkFocusInitial
            >
                Débutant
            </button>
        </li>
        <li>
            <button (click)="selectLevel(playLevelEnum.EXPERT)">
                Expert
            </button>
        </li>
    </ul>
</div>
