<div class="content">
    <ng-container [ngSwitch]="state">
        <ng-container *ngSwitchCase="playStateEnum.CHOOSE_LEVEL"></ng-container>
        <ng-container *ngSwitchCase="playStateEnum.PLAYING">
            <dicomo-questions-question
                [word]="wordQuestion"
                [answers]="answers"
                [level]="level"
                [answers]="answers"
                (found)="nextQuestion()"
            ></dicomo-questions-question>
        </ng-container>

        <!-- FINISHED GAME -->
        <ng-container *ngSwitchCase="playStateEnum.FINISHED">
            Bravo !
            <button [routerLink]="'/'">Retour</button>
        </ng-container>
    </ng-container>
</div>
