<dicomo-header-slot [items]="leftSlotItem$ | async"></dicomo-header-slot>
<dicomo-header-slot [items]="middleSlotItem$ | async"></dicomo-header-slot>
<dicomo-header-slot [items]="rightSlotItem$ | async"></dicomo-header-slot>
