@import 'variables';

:host {
    align-items: center;
    display: flex;
    height: $header-height;
    padding: 8px;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
}
