/* You can add global styles to this file, and also import other style files */

// INFO : critical CSS is located in index.html

// Angular Material Theme
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

// Variables

@import 'variables';

.btn {
    background-color: $color-dark;
    border: 2px solid transparent;
    border-radius: 100px;
    box-shadow: none;
    color: $color-light;
    font-family: $font-sans;
    font-weight: bold;
    padding: 6px 12px;
    text-transform: lowercase;

    &-small {
        font-size: 10px;
    }

    &-big {
        font-size: 16px;
        padding: 12px 24px;
    }

    &-outline {
        background-color: $color-light !important;
        border-color: $color-dark;
        color: $color-dark;

        &.btn-primary {
            border-color: $color-primary;
            color: $color-primary;
        }

        &.btn-secondary {
            border-color: $color-secondary;
            color: $color-secondary;
        }

        &.btn-tertiary {
            border-color: $color-tertiary;
            color: $color-tertiary;
        }
    }

    &-primary {
        background-color: $color-primary;
    }

    &-secondary {
        background-color: $color-secondary;
    }

    &-tertiary {
        background-color: $color-tertiary;
    }

    &-light {
        background-color: $color-light;
    }
}
